* {
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

.cards {
    align-content: center;
    align-items: center;
    padding-left: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.form-app {

    width: auto;
    height: auto;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;

}

header {
    background: #111e6c;
    height: 70px;
    width: 100%;
    padding: 0 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav {
    padding-top: 8px;
}

.right-nav li {
    display: inline-block;
    margin: 0 15px;
}

.right-nav li a {
    font-size: larger;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
    font-family: 'Alegreya Sans', sans-serif !important;
}

.right-nav li a::after {
    content: '';
    background: #dde8f3;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.right-nav li a:hover::after {
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #dde8f3 !important;
}

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: -6px;
    border-radius: 45%;
}

input {
    background: #eff4f9 !important;
}

textarea {
    background: #eff4f9 !important;
}

footer {
    clear: both;
    background: #111e6c;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif !important;
}